<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>CAR RENTAL APP</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="jumbotron">
            <center><h1>CAR RENTAL APP</h1></center>
 <form action="/Carreturn" method="post">
        <table width="20%" height="20%">




             <tr>
				<td <p><h4>Customer id </h4></p></td>
				<td align="left" valign="center"><input type="text" name="cid"></td>
			</tr>



			<tr>
				<td align="right"><input type="submit" name="submit" value="submit"</td> &nbsp;&nbsp;
			</center>
			</tr>
		</table>
	</form>
 </div>
</body>

</html>


