<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>CAR RENTAL APP</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="jumbotron">
            <center><h1>CAR RENTAL APP</h1></center>
	<form action="/selectcustomer" method="post">
		<b> Please select the customer type</b><br>
		<input type="radio" name="customer" value="Individual" checked> Individual<br>
		<input type="radio" name="customer" value="Company"> Company<br>
		<input type="submit" name="submit" value="Submit"<br>
		
	</form>
    </div>
</body>

</html>