<head>
    <title>CAR RENTAL APP</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
 <div class="jumbotron">
            <center><h1>CAR RENTAL APP</h1></center>
<marquee><h3>Travel in Budget!!</h3></marquee>
<form id="formUpload" action="/upload" enctype="multipart/form-data" method="post">
	<select id="useroption" name="carrental">
  		<option value="1">Register New Customer</option>
  		<option value="2">Add New Car</option>
		<option value="3">Update rental rates</option>
        <option value="4">Reserve a Car</option>
        <option value="5">Return a Car</option>
        <option value="6">Weekly Report</option>
	</select>
<input type="submit" value="Submit" id="submit_file">	
</div>
</body>
</html>	