<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
   <title>CAR RENTAL APP</title>


   <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

   <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

   <div class="jumbotron">
           <center><h1>CAR RENTAL APP</h1></center>
<form action="/UpdateRental" method="post">
       <table width="20%" height="20%">


           <tr>
           <td <p><h4>Car Type : </h4></p></td>
           <td align="left" valign="center"><select name="cars">
                   <option value="van">Van</option>
                   <option value="suv">SUV</option>
                   <option value="compact">Compact</option>
                   <option value="medium">Medium</option>
                   <option value="large">Large</option>
                   <option value="truck">Truck</option>
                   </select>
               </td>
        </tr>

            <tr>
           <td <p><h4>Weekly: </h4></p></td>
           <td align="left" valign="center"><input type="text" name="weekly"></td>
        </tr>

        <tr>
           <td <p><h4>Daily : </h4></p></td>
           <td align="left" valign="center"><input type="text" name="daily"></td>
        </tr>


        <tr>
           <td align="right"><input type="submit" name="submit" value="Update"</td> &nbsp;&nbsp;
        </center>
        </tr>
     </table>
  </form>
</div>
</body>

</html>
